<div class="simple-calendar">
  <div class="new-task has-text-left" style="margin-left: 5rem">
    <a href="/tasks" class="button create-button is-rounded is-large">
      <i class="fas fa-plus"></i>New Task!!
    </a>
  </div>
  <div class="calendar-heading is-size-3 columns">
    <%= link_to t('simple_calendar.previous', default: '◀︎'), calendar.url_for_previous_view, class: 'column is-one-fifth' %>
    <span class="calendar-title column has-text-centered"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to t('simple_calendar.next', default: '▶︎'), calendar.url_for_next_view, class: 'column has-text-right is-one-fifth' %>
  </div>

  <table class="table is-bordered is-fullwidth">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="has-text-centered"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% block.call day, sorted_events.fetch(day, []) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
